[Unit]
Description=%p
Requires=user.slice

[Service]
User=saas
Group=saas
Restart=always
RestartSec=30
TimeoutStartSec=0
WorkingDirectory=/root/data/saas/
ExecStart=/root/data/wei-upload/wei-upload
ExecStop=pkill %p

[Install]
WantedBy=multi-user.target
